body {
    background-color: #ffea00;
}

.selections {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.choice {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 2em;
    box-shadow: 0px 2px 8px #000;
}

.choice:hover {
    box-shadow: 0px 6px 25px #000;
}

.choice input {
    padding-top: 2em;
}

input[type="image"] {
    height: 300px;
    width: 270px;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
}

h1 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5em;
}

.scores {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0em 2em;
}

.gameStates {
    display: flex;
    justify-content: center;
}

input.resetGame {
    display: none;
}

.state {
    background-color: inherit;
    padding: .5em;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 120%;
    border: 4px solid black;
    border-radius: 25px;
}

.state:hover {
    background-color: black;
    color: #ffea00;
    cursor: pointer;
}

h3.winStatus {
    text-align: center;
    margin-top: 1.5em;
    visibility: hidden;
}

input.scoreButton {
    background-color: inherit;
    padding: 0.5em;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 120%;
    border: 4px solid black;
    border-radius: 30px;
}

input.scoreButton:hover {
    background-color: black;
    color: #ffea00;
    cursor: pointer;
}

.winningScore {
    display: none;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3em;
}

input.wS.inputScore {
    font-family: 'Roboto Condensed', sans-serif;
    background: inherit;
    color: black;
    border: solid black 4px;
    border-radius: 30px;
    font-size: 120%;
    padding-right: inherit;
}

input.wS {
    padding: 1em;
    margin: 0em 1em;
}

/**** MEDIA QUERIES ***/

@media only screen and (max-width: 1000px) {
    input[type="image"] {
        height: 150px;
        width: 150px;
    }

    .selections {
        height: 50vh;
    }
}

@media only screen and (max-width: 600px) {
    input[type="image"] {
        height: 100px;
        width: 100px;
    }

    h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1em;
    }

    .selections {
        height: 40vh;
    }
}

@media only screen and (max-width: 425px) {
    input[type="image"] {
        height: 70px;
        width: 70px;
    }

    h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1em;
    }

    .selections {
        height: 30vh;
    }

    .choice {
        margin: 1em;
    }

    input.wS {
        margin: 0em .3em;
        padding: .5em;
    }

    input.WS.inputScore {
        font-size: 100%;
    }
}